@charset "utf-8";

p{
    color: #f00;
}

/* 基本スタイル */
table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 1em;
  }
  
  th, td {
    padding: 0.5em;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  /* レスポンシブ対応 */
  @media screen and (max-width: 100px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  input[type="text"] {
    width: 90%;
    padding: 4px;
    box-sizing: border-box;
}